* {
    margin: 0;
    padding: 0;
}

body {
    place-items: center;
    display: grid;
}
img {
    width: 100%;
}
main {
    place-items: center;
    background-color: gray;
    padding-left: 10px;
    padding-right: 10px;
}
section {
    place-items: center;
    padding: 0 15%;
    row-gap: 10px;
}
div {
    width: 60vw;
    padding: 0% 20%;
    place-items: center;
    background-color: aliceblue;
    max-width: 60vw;
    padding: 5% 2%;
}
header div {
    background-color: salmon;
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: salmon;
}
header img {
    width: 40px;
    height: 40px;
}

h1 {
    padding: 20px;
    text-align: center;
}