* {
    margin: 0;
    padding: 0;
}

body {
    place-items: center;
    display: grid;
}
img {
    width: 100%;
}
main {
    place-items: center;
    background-color: gray;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
}
section {
    display: grid;
    place-items: center;
    padding: 0 15%;
    row-gap: 20px;
    grid-template-columns: repeat(autofit, minmax(250px,1fr));

}
span {
    color: fuchsia;
}
.divbox {
    width: 60vw;
    padding: 0% 20%;
    place-items: center;
    background-color: aliceblue;
    max-width: 60vw;
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 15%;
    
}
header div {
    background-color: salmon;
}
.grayit {
    background-color: gray;
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: salmon;
}
header img {
    width: 40px;
    height: 40px;
}

h1 {
    padding: 20px;
    text-align: center;
}
footer {
    place-items: center;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    padding: 13%;
}